* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
}

body {
  background-color: rgb(242 161 39);
}

.name-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.single-name {
  display: flex;
  align-items: center;
}

.long-description-wrapper {
  height: 7em;
  margin-top: 0.5em;
}

.long-description {
  height: 7em;
  overflow: scroll;
}

.life-wrapper {
  display: flex;
  justify-content: center;
}

.life {
  display: flex;
  width: 90%;
  margin-right: 5px;
  color: black;
}

.life div {
  margin-right: 5px;
  color: red;
}
